<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AppMantenimiento</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* Iconos *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/AppMantenimiento.styles.css" asp-append-version="true" />
</head>
<body>

	<partial name="_LinksLogin" />

    <nav class="sidebar" id="sidebar">
   

        <ul class="sidebar-nav">
            @if(User.IsInRole(Constantes.RolAdministrador))
            {
                <li class="nav-item">
                    <a class="nav-link " asp-area="" asp-controller="Account" asp-action="Index" onclick="setActive(this)">
                        <i class="nav-icon bi bi-people-fill"></i>
                        <span class="nav-text">Usuarios</span>
                    </a>

                </li>
            }

           
            <li class="nav-item">
                <a class="nav-link " asp-area="" asp-controller="Maquinas" asp-action="Index" onclick="setActive(this)">
                    <i class="nav-icon bi bi-gear-wide"></i>
                    <span class="nav-text">Maquinas</span>
                </a>
            </li>



            <li class="nav-item">

                <a class="nav-link " asp-area="" asp-controller="CheckList" asp-action="Index" onclick="setActive(this)">
                    <i class="nav-icon bi bi-card-checklist"></i>
                    <span class="nav-text">CheckList</span>
                </a>
            </li>
        
            <li class="nav-item">
                <a href="#" class="nav-link" onclick="setActive(this)">
                    <i class="nav-icon fas fa-cog"></i>
                    <span class="nav-text">Configuración</span>
                </a>
            </li>
        </ul>

        

       
    </nav>

    <!-- Overlay para móvil -->
    <div class="sidebar-overlay" onclick="toggleSidebar()"></div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center py-2">
                <div>
                    &copy; 2025 - AppMantenimiento -Dev Silva
                    <a href="https://www.linkedin.com/in/jair-silva-ortiz-7a0084224/">Perfil</a>
                </div>
                <div>
                    <partial name="_CambiarIdioma" />
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
