@model MaquinaViewModel
@{
	ViewData["Title"] = "Agregar Maquina";
	Layout = "_Layout"; 
}


<div class="card p-4 shadow rounded mt-4">
    <h2 class="text-xl mb-4">Registrar nueva máquina</h2>

    <form asp-action="Agregar">
        <div class="mb-3">
            <label class="form-label">Nombre de la máquina</label>
            <input asp-for="Nombre" class="form-control" placeholder="Ej. Prensa hidráulica 3" />
        </div>

        <div class="mb-3">
            <label class="form-label">Ubicación</label>
            <input asp-for="Ubicacion" class="form-control" placeholder="Ej. Planta A - Línea 2" />
        </div>

        <div class="mb-3">
            <label class="form-label">Código interno</label>
            <input asp-for="CodigoInterno" class="form-control" placeholder="Ej. MCH-038" />
        </div>

        <div class="mb-3">
            <label class="form-label">Notas</label>
            <textarea asp-for="Notas" class="form-control"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>

